#about {
  background-color: white;
  margin-bottom: 0;
  border: rem-calc(4) solid black;
  padding: rem-calc(32);

  .container {
    .columns {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
