// Plugin "Countdown Widget"
// Url: https://metinsaylan.com/wordpress/plugins/countdown/

.shailan_CountdownWidget {
    background-color: white;
    color: $brand-primary;
    font-family: Oswald, sans-serif;
    font-size: 3em;
}