@import './helper.scss';

body {
  background-color: white;
}

.section {
  padding-right: rem-calc(16);
  padding-left: rem-calc(16);
  margin-bottom: rem-calc(16);
}

.container {
  max-width: 1200px;
}

.column {
  padding-top: 0;
  padding-bottom: 0;
}

.columns {
  &:last-child {
    margin-bottom: 0;
  }
}
