@import './helper.scss';

body {
  background-color: white;
}

.section {
  padding-right: rem-calc(16);
  padding-left: rem-calc(16);
  margin-bottom: rem-calc(16);
}

.container {
  max-width: 1200px;
}

.column {
  padding-top: 0;
  padding-bottom: 0;
}

.columns {
  &:last-child {
    margin-bottom: 0;
  }
}

article {
    font-size: 1.2rem;
}

.single-page-wrapper {
    margin-top: 85px;  // Add space for absolutely positioned menu
}

// Add space if fixed admin menu is visible
.has-admin-bar .single-page-wrapper {
    margin-top: calc(35px + 85px); // admin bar + top menu
}

main {
    padding-top: 3rem;
}