@import './helper.scss';

#social-media {
  background-color: white;
  margin: rem-calc(20) 0 0 0;
  // border: rem-calc(4) solid black;
  h2 {
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(32);
  }
  .social-media-grid {
    > div {
      display: flex;
    }
  }
}
