@import './breakpoints.scss';
@import './helper.scss';

.wrapper {
  align-items: center;
  background: rgb(89, 192, 209);
  display: flex;
  padding-right: rem-calc(16);
  padding-left: rem-calc(16);
  position: absolute;
  top: 0;
  width: 100%;
}

.has-admin-bar .wrapper {
    top: 35px;  // Place below the admin bar
}

.logo {
    background-color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin: .5rem 0;

    img {
        width: rem-calc(120);
    }

    span {
        display: none;
    }
}

.top-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-size: rem-calc(20);

  a {
    color: white;
  }
  .menu {
    display: none;
    &.show {
      display: flex;
      width: calc(100% + #{rem-calc(32)});
      position: absolute;
      height: 100vh;
      flex-direction: column;
      background: white;
      align-items: center;
      z-index: 1000;
      left: rem-calc(-16);
      top: 0;

      a {
        padding: 32px 0;
        color: black;
      }
    }
    @include md {
      display: block;
    }
    a {
      padding-right: rem-calc(16);
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

#toggle-menu-button {
  display: block;
  z-index: 2000;
  @include md {
    display: none;
  }
  .hide {
    display: none;
  }
}
