@import './breakpoints.scss';

.top-header {
  display: flex;
  justify-content: space-between;
  .menu {
    display: none;
    &.show {
      display: flex;
      width: 100%;
      position: absolute;
      height: 100%;
      flex-direction: column;
      background: white;
      align-items: center;

      a {
        padding: 32px 0;
      }
    }
    @include md {
      display: block;
    }
    a {
      padding-right: rem-calc(16);
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

#toggle-menu-button {
  display: block;
  @include md {
    display: none;
  }
  .hide {
    display: none;
  }
}
